header h1 {
    background-color: aqua;
    text-align: center;
    margin: 0;
}

header img {
    position: absolute;
    left: 10px;
}

nav {
    background-color: grey;
    text-align: center;
    font-size: 35px;
    height: 50px;
}

nav a {
    padding: 50px;
    text-decoration: none;
    color: black;
}



.red {
    background-color: red;
}

.green {
    background-color: green;
}


main table {
    margin-left: 50%;
}

footer {
    background-color: grey;
    height: 150px;
    margin-top: 200px;
}

footer p {
    font-size: 25px;
    text-align: center;
    margin-top: 0px;
}

.raghad {
    height: 250px;
    width: 250px;
}

.about {
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 300px;
}

.about h3 {
    color: red;
    font-size: 35px;
}

.sub {
    background-color: aqua;
}

.user {
    color: brown;
    text-align: center;
    font-size: 35px;
}

.info {
    text-align: center;
}