* {
    padding: 0;
    margin: 0;
}

/* header style */
header div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 20%;
    background-color: rgb(120, 183, 246);
}

img {
    margin-right: auto;
}

header div h1 {
    margin: auto;
}

header div nav a {
    margin: 5px;
    color: white;
    background-color: red;
    text-decoration: none;
    border: 5px solid red;
    border-radius: 15px;
    padding: 5px;
}

header div nav a:hover {
    background-color: aqua;
    color: red;
    text-decoration: none;
}


/* main style */

table caption {
    text-align: center;
    color: black;
}

table {
    width: 50%;
    border: 5px solid;
    border-spacing: 10px;
    background-color: aqua;
    margin: auto;
}

table td {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: rgb(211, 204, 204);
    border: 5px solid;
}

table th {
    text-align: center;
    padding: 20px;
    background-color: rgb(162, 246, 154);
    font-weight: bold;
    border: 5px solid;
}


/* Footer style */

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(120, 183, 246);
}

footer p {
    margin: 10px;
}